.bg-grey {
  background-color: #f1f1f1;
  }
  
  .bg-black {
    background-color: #424141;
    width: 100%;
  }
  
  .menu-bg-grey {
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    bottom: 50px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }