.bg-grey {
    background-color: #d9d9d9;
    height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  
  .bg-lightgrey {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bg-midgrey {
    background-color: #f1f1f1;
  }
  
  .bg-black {
    background-color: black;
  }
  