.bg-grey {
    background-color: #d9d9d9;
    height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  
  .bg-lightgrey {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .bg-midgrey {
    background-color: #f1f1f1;
  }
  
  .bg-black {
    background-color: #424141;
  }
  
  .menu-bg-grey {
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    bottom: 50px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }