.btn-purp {
    display: inline-block;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: $btn-purp-border-radius;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 50%);
}

.order-btn {
    display: flex;
    justify-content: center;
  }