.card-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  object-fit: cover;
  height: 225px;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.card-title {
  font-weight: bold;
  margin: 0;
}
.card-text {
  margin: 0;
  font-weight: normal;
  font-size: small;
  font: black;
}