.fa-regular, .fa-heart {
  display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
color: linear-gradient(-7deg, #9356dc 0%, #ff79da 85%);
}

.heart-1 {
  position: relative;
  width: 16px;
}


.heart-1:hover .empty-heart {
  opacity: 1;
  transition: 1.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  
}

.heart-1:hover .full-heart {
  opacity: 0;
}


input {
	display: none;
}

.empty-heart {
  opacity: 0;
}

.full-heart {
  opacity: 1;
	background-clip: text;
  position: absolute;
}
input:checked + label .empty-heart {
	display: inline-block;
  opacity: 1;
	
}
input:checked + label .full-heart {
	display: none;
  opacity: 0;
}

  

  .fa-mobile-screen-button {
    padding: 0px 20px;
    color: #777575;
  }
  

 .fa-bars {
  padding: 0px 20px;
  color: #777575;
 }

 .fa-store {
  padding: 0px 20px;
  color: #777575;
 }

 .fa-solid:active {
   color: $primary-colour;
 }

 .fa-utensils {
   padding: 0px
 }

 .fa-handshake-angle {
   padding: 0px;
 }

   /** tablets 768px **/

   @media (min-width: 768px) {}

   /**desktop 992px **/
 
   @media (min-width: 992px) {}
