.fa-regular, .fa-heart {
    display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      color: black;
  }

  .fa-mobile-screen-button {
    padding: 0px 20px;
    color: #777575;
  }
  

 .fa-bars {
  padding: 0px 20px;
  color: #777575;
 }

 .fa-store {
  padding: 0px 20px;
  color: #777575;
 }

 .fa-solid:active {
   color: $primary-colour;
 }

 .fa-utensils {
   padding: 10px
 }

 .fa-handshake-angle {
   padding: 7px;
 }

   /** tablets 768px **/

   @media (min-width: 768px) {}

   /**desktop 992px **/
 
   @media (min-width: 992px) {}