.logo-img {
    width: 375px;
  }

  .logo-small {
    padding-top: 15px;
  }

  .header-img {
    width: 100%;
  }

  .main-img-enchanted {
    height: 355px;
  }

    /** tablets 768px **/

    @media (min-width: 768px) {}

    /**desktop 992px **/
  
    @media (min-width: 992px) {

      .header-img {
        height: 335px;
        object-fit: cover;
        object-position: center;
      } 
    }