.logo-container {
  background-color: #fff;
  box-shadow: 0px 1px #c1c1c1;
  z-index: 1;
  position: relative;
  padding: 20px;

  .logo {
    display: flex;
    justify-content: center;
    align-self: center;
    
  }
}



  .logo-menu {
    display: flex;
    justify-content: space-between;
  }

  .logo-img-small {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 30%;
  }
  
  