.menu-container {
  display: flex;
  flex-direction: column;
}

.main-menu {
    display: flex;
    padding: 0px 14px;
    text-decoration: none;
    border-radius: 15px;
    border: solid #fff 3px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px #d9d9d9;
    width: 85%;
  }

  .menu-courses {
    text-decoration: underline 2px solid $tertiary-colour;
    
    
  }

  .menu-food {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .title {
    margin-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .menu-txt {
    display: flex;
      gap: 100px;
  }
  
  .desserts {
    margin-bottom: 30px;
  }

  .menu-item {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
  
    .menu-item__price {
      display: flex;
      align-items: center;
      padding: 20px;
    }
  
    &:hover { 
      .menu-item__checkmark {
        width: 75px;
      }
      .menu-item__checkmark-icon {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  
    .menu-item__body {
      width: 100%;
      padding: 15px; 
      overflow: hidden;
      display: flex;
      flex-direction: column;
  
      .menu-item__content, .menu-item__heading {
        margin: 0;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      } 
  
      .menu-item__heading{
        font-size: 17px;
      }
    }
  
    .menu-item__checkmark {
      width: 0px;
      background: $tertiary-colour;
      transition: width 1s;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .menu-item__checkmark-icon {
      transform: rotate(360deg);
      transition: transform 1s;
      color: white;
    }
  }