.menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  animation: transitionIn 1s;
}

.main-menu {
    display: flex;
    padding: 0px 14px;
    text-decoration: none;
    border-radius: 15px;
    border: solid #fff 3px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px #d9d9d9;
    width: 85%;

    .menu-item-food {
      display: flex;
      flex-direction: column;
    }

    .menu-item-txt {
      display: flex;
        gap: 100px;
    }
  }





  

  
  .desserts {
    margin-bottom: 30px;
  }

  .menu-item {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    font-weight: 300;
  
    .menu-item-price {
      display: flex;
      align-items: center;
      padding: 20px;
      font-weight: bold;
    }
  
    &:hover { 
      .menu-item-checkmark {
        width: 75px;
      }
      .menu-item-checkmark-icon {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  
    .menu-item-body {
      width: 100%;
      padding: 15px; 
      overflow: hidden;
      display: flex;
      flex-direction: column;
  
      .menu-item-content, .menu-item-heading {
        margin: 0;
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      } 
  
      .menu-item-heading{
        font-size: 15px;
      }
    }

    .menu-item-checkmark {
      width: 0px;
      background: $tertiary-colour;
      transition: width 1s;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .menu-item-checkmark-icon {
      transform: rotate(360deg);
      transition: transform 1s;
      color: white;
    }
  }



.menu-fade {
	animation-name: menu-fade;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
  margin-bottom: 10px;

  &-fade-1 {
    animation-delay: 0.1s;
  }
  &-fade-2 {
    animation-delay: 0.2s;
  }
  &-fade-3 {
    animation-delay: 0.3s;
  }
  
  &-fade-4 {
    animation-delay: 0.4s;
  }
  
  &-fade-5 {
    animation-delay: 0.5s;
  }
  
  &-fade-6 {
    animation-delay: 0.6s;
  }
  
  &-fade-7 {
    animation-delay: 0.7s;
  }
  
  &-fade-8 {
    animation-delay: 0.8s;
  }
  
  &-fade-9 {
    animation-delay: 0.9s;
  }

  &-fade-10 {
    animation-delay: 0.10s;
  }
}


@keyframes menu-fade {
  0% {
    opacity: 0;
		transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
		transform: translate(0);
  }
}

.loader {
	background-color: $tertiary-colour;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-name: loader-fade;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	z-index: 1
}

@keyframes loader-fade {
  0% {
    opacity: 1;
  }
	99% {
    opacity: 0;
		top: 0;
		bottom: 0;
	}
  100% {
		top: -10000px;
		bottom: auto;
  }
}

.logo-box {
  margin-left: 0px;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f1f1f1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f1f1f1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  /** tablets 768px **/

  @media (min-width: 768px) {}

  /**desktop 992px **/

  @media (min-width: 992px) {

    .menu-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      flex-direction: row;
      gap: 50px;
      justify-content: center;

      &-menu-courses  {
        display: inline-flex;
        margin-left: 125px;
  
        &-menu-food-desserts {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }

    .menu-food {
      width: 100%;
      flex: 0 0 auto;
      
    }

  }