.font {
    font-weight: 300;
    font-size: 20px;
}

.font-small {
    font-weight: 300;
}

  /** tablets 768px **/

  @media (min-width: 768px) {}

  /**desktop 992px **/

  @media (min-width: 992px) {}