$primary-colour: #9356DC; 
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;
 
/**Buttons**/

$btn-purp-border-radius: 5px;

$fa-var-0: \30;
$fa-var-1: \31;
$fa-var-2: \32;
$fa-var-3: \33;
$fa-var-4: \34;
$fa-var-5: \35;
$fa-var-6: \36;
$fa-var-7: \37;
$fa-var-8: \38;
$fa-var-9: \39;
$fa-var-a: \41;
$fa-icons: (
    "0": $fa-var-0,
    "1": $fa-var-1,
    "2": $fa-var-2,
    "3": $fa-var-3,
    "4": $fa-var-4,
    "5": $fa-var-5,
    "6": $fa-var-6,
    "7": $fa-var-7,
    "8": $fa-var-8,
    "9": $fa-var-9,
    "a": $fa-var-a,
)



